<!DOCTYPE HTML>
<html>

<head>
    <title>Pharmatech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" title="style" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}" />
</head>

<body id="instructBG">
    <div class="topnav" id="myTopnav">
        <a href="{{url_for('instruction')}}" class="active">Instruction</a>
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('about')}}">About Us</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

</html>