<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editor</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='cropper.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrapBundle.js')}}"></script>
    <script src="{{url_for('static', filename='cropper.min.js')}}"></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a>Upload</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
    </div>
    <div id="mainUpload">
        <div id="form">
            <!-- nilagyan ko muna div kay di ko na ginamit ang form-->
            <img class="rounded" id="preview">
            <input type="file" id="input" name="image" accept="image/*">
            <button id="process" onclick="uploadPhoto()"><i class="fa fa-refresh"></i> Process</button>
        </div>
    </div>

    <!--MODAL-->
    <div class="container">
        <div class="modal fade" id="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Crop Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="img-container">
                            <img id="image" alt="Picture">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="crop">Crop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<script>
    document.addEventListener(
        "backbutton",
        function() {
            window.history.back()
        }, true);
</script>
<script>
    var base64;
    window.addEventListener('DOMContentLoaded', function() {
        var image = document.getElementById('image');
        var $modal = $('#modal');
        var cropper;

        input.addEventListener('change', function(e) {
            var files = e.target.files;
            var done = function(url) {
                input.value = '';
                image.src = url;
                $modal.modal('show');
            };
            var reader;
            var file;
            var url;

            if (files && files.length > 0) {
                file = files[0];

                if (URL) {
                    done(URL.createObjectURL(file));
                } else if (FileReader) {
                    reader = new FileReader();
                    reader.onload = function(e) {
                        done(reader.result);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        $modal.on('shown.bs.modal', function() {
            cropper = new Cropper(image, {
                viewMode: 1,
                center: true,
                responsive: true,
                autoCrop: true,
                movable: false,
                rotatable: false,
                scalable: false,
                scalableOnTouch: false,
                zoomOnWheel: false,
                checkOrientation:false,
            });

        }).on('hidden.bs.modal', function() {
            cropper.destroy();
            cropper = null;
        });

        document.getElementById('crop').addEventListener('click', function() {
            var initialPreviewURL;
            var canvas;

            $modal.modal('hide');

            if (cropper) {
                canvas = cropper.getCroppedCanvas({});
                initialPreviewURL = preview.src;
                preview.src = canvas.toDataURL("image/png",1);

                base64 = preview.src;
                process.style.visibility = "visible";
            }
        });
    });

    function uploadPhoto() {
        $.ajax({
            url: "{{url_for('upload')}}",
            type: 'POST',
            data: base64,
            success: function(response){
               window.location = "{{url_for('result')}}";

            }
        });
    }
</script>

</html>